.tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--highlight);
  padding: 10px;
  background-color: rgb(245, 246, 247);
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.tabs-left {
  display: flex;
  gap: 20px;
}

.tab-item {
  cursor: pointer;
  color: var(--text);
  font-weight: 500;
  transition: color 0.3s ease;
}

.tab-item:hover {
  color: var(--accent);
}

.tab-item.active {
  color: #007bff;
  font-weight: bold;
}

.tabs-right {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.tab-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.tab-icon:hover {
  opacity: 0.8;
}